@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    src: url(Cabin_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Cabin_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Cabin_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/cabin/v12/u-4x0qWljRw-Pd8w__s.woff */
        url(Cabin_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/cabin/v12/u-4x0qWljRw-Pd8w__hImSRu.ttf */
        url(Cabin_400_normal.svg#Cabin_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=u-4x0qWljRw-Pd8w__o&skey=d53a2c61c6b52b74&v=v12#Cabin */
}
@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    src: url(Cabin_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Cabin_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Cabin_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/cabin/v12/u-480qWljRw-PdeL2uhluy8.woff */
        url(Cabin_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/cabin/v12/u-480qWljRw-PdeL2uhluyxEeQ5J.ttf */
        url(Cabin_700_normal.svg#Cabin_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url(Montserrat_300_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Montserrat_300_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Montserrat_300_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3gnD-A.woff */
        url(Montserrat_300_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3gnD-_x3rCs.ttf */
        url(Montserrat_300_normal.svg#Montserrat_300_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(Montserrat_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Montserrat_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Montserrat_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WlhzQ.woff */
        url(Montserrat_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WlhziTh89Y.ttf */
        url(Montserrat_400_normal.svg#Montserrat_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=JTUSjIg1_i6t8kCHKm459WlhzA&skey=7bc19f711c0de8f&v=v12#Montserrat */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url(Montserrat_500_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Montserrat_500_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Montserrat_500_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gnD-A.woff */
        url(Montserrat_500_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gnD-_x3rCs.ttf */
        url(Montserrat_500_normal.svg#Montserrat_500_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url(Montserrat_600_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Montserrat_600_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Montserrat_600_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3gnD-A.woff */
        url(Montserrat_600_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3gnD-_x3rCs.ttf */
        url(Montserrat_600_normal.svg#Montserrat_600_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(Montserrat_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Montserrat_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Montserrat_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD-A.woff */
        url(Montserrat_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD-_x3rCs.ttf */
        url(Montserrat_700_normal.svg#Montserrat_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url(Montserrat_800_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Montserrat_800_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Montserrat_800_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_c5H3gnD-A.woff */
        url(Montserrat_800_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_c5H3gnD-_x3rCs.ttf */
        url(Montserrat_800_normal.svg#Montserrat_800_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url(Montserrat_900_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Montserrat_900_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Montserrat_900_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_epG3gnD-A.woff */
        url(Montserrat_900_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_epG3gnD-_x3rCs.ttf */
        url(Montserrat_900_normal.svg#Montserrat_900_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: url(Rubik_300_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Rubik_300_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Rubik_300_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Fqj2md8WY.woff */
        url(Rubik_300_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Fqj2md8WX07oB-.ttf */
        url(Rubik_300_normal.svg#Rubik_300_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url(Rubik_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Rubik_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Rubik_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/rubik/v7/iJWKBXyIfDnIV7nBrXo.woff */
        url(Rubik_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/rubik/v7/iJWKBXyIfDnIV7nBrXmw023e.ttf */
        url(Rubik_400_normal.svg#Rubik_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=iJWKBXyIfDnIV7nBrXs&skey=cee854e66788286d&v=v7#Rubik */
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url(Rubik_500_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Rubik_500_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Rubik_500_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Eyjmmd8WY.woff */
        url(Rubik_500_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Eyjmmd8WX07oB-.ttf */
        url(Rubik_500_normal.svg#Rubik_500_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url(Rubik_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Rubik_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Rubik_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7F6iGmd8WY.woff */
        url(Rubik_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7F6iGmd8WX07oB-.ttf */
        url(Rubik_700_normal.svg#Rubik_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    src: url(Rubik_900_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Rubik_900_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Rubik_900_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7FCimmd8WY.woff */
        url(Rubik_900_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7FCimmd8WX07oB-.ttf */
        url(Rubik_900_normal.svg#Rubik_900_normal) format('svg'); /* {{svg-gf-url}} */
}
